<section class=home-wrapper>
  <%= render 'header_basic' %>
  <h1>Cantando Inglés</h1>
  <section class=introduction>
    This phone application may make practicing English more interesting. It plays a song while showing the lyrics in English and Spanish. It also shows the real meaning of the words in the context of the song. I chose these songs because I though they had beauty and spoke to real life in America, although not all the songs are strictly American.  Some songs are rough, some are happy.  
  Cantando Inglés is free at the <%= link_to 'Google Play Store', 'https://play.google.com/store/apps/details?id=com.eebolf.CantandoIngles' %>. You can download the songs to use in the app for free. Check out the <%= link_to 'video', 'https://www.youtube.com/watch?v=n-cRzeZw9Bk' %>. For phones with Android 4.0 and above. 
  </section>
  <section class="phone-images-wrapper">
    <section class="phone-images-flex-container">
      <section class="phone-image">
	<%=image_tag("app-screen-shot-home-page-1.png", alt:"Android Application Image 1")%>
      </section>
      <section class="phone-image">
	<%=image_tag("app-screen-shot-home-page-2.png", alt:"Android Application Image 2") %>
      </section>
    </section>
  </section>
  <section class=introduction>
    I hope these apps help someone on their way.  - Aurea Flocela Maldonado
  </section>
</section>
