<section class=home-wrapper>
  <%= render 'header_basic' %>
  <h1>Cantando Inglés</h1>
  <section class="introduction intro-one">
    <%= t('intro_one') %>
  </section>
  <section class="introduction">
    <%= t('intro_two') %><%= link_to t('google_play_store'), 'https://play.google.com/store/apps/details?id=com.eebolf.CantandoIngles' %>.
    <%= t('intro_three') %>
    <%= t('intro_four') %><%= link_to 'video','https://www.youtube.com/watch?v=n-cRzeZw9Bk' %>.
    <%= t('intro_five') %>
  </section>
  <section class="phone-images-wrapper">
    <section class="phone-images-flex-container">
      <section class="phone-image">
	<%=image_tag("app-screen-shot-home-page-1.png", alt:"Android Application Image 1")%>
      </section>
      <section class="phone-image">
	<%=image_tag("assets/images/app-screen-shot-home-page-2.png", alt:"Android Application Image 2") %>
      </section>
    </section>
  </section>
  <section class=introduction>
    <%= t('on_your_way') %> - Flocelita Maldonado
  </section>
</section>

