<section class=songs-wrapper>
  <section class=title-sm>
    <h1>Cantando Inglés</h1>
  </section>
  <%= render 'header_basic' %>
  <section class=title-xs>
    <h1>Cantando Inglés</h1>
  </section>
  <h2>Songs</h2>
  <section class="copyright">
    Downloads are available for free to use in the Cantando Inglés Android application. If you're downloading for other uses, see license information for restrictions. The artists have provided a license for each song, see 'Original License'. The 'New Work' is the original song plus the translations; its license is under 'New Work License'.
  </section>
  <section class="songs-flex-container">
    <% @songs.each do |song| %>
      <section class="song-box">
	<section class=song-title>
	  <%= song.new_work_title %>
	</section>
	<section class=labels>
	  <section class="song_info orig-title">
	    Original Title: 
	    <%= song.orig_english_title %>
	  </section>
	  <section class="song_info orig-artist">
	    Original Artist:  <%= song.orig_artist %>
	  </section>
          <% if song.orig_english_uses_sample_from_1? %>
	    <section class=song_info>
	      Orig song uses samples from: <%= song.orig_english_uses_sample_from_1%>
	    </section>
	    <section class=song_info>
	      Sample at: <%= link_to song.orig_uses_sample_from_link_name_1, song.orig_uses_sample_from_link_1 %>
          <% end %>  
	  <section class=song_info>
	    Song Difficulty: <%= song.song_type %>
	  </section>
	  <section class=song_info>
	    Originally Downloaded at:  <%= link_to song.orig_downloaded_at_name, song.orig_downloaded_at_link  %>
	  </section>
	  <section class=song_info>
	    Originally Published: <%= song.orig_pub_date %>
	  </section>
	  <section class=song_info>
	    Original Lyrics Dated: <%= song.orig_lyrics_date %>
	  </section>
	  <section class=song_info>
	    Reference to Original Lyrics: <%= link_to song.orig_lyrics_date_link_name, song.orig_lyrics_date_link %>
	  </section>
	  <section class=song_info>
	    Original License: <%= link_to song.orig_lyrics_date_link_name, song.orig_lyrics_date_link %>
	  </section>
	  <section class=song_info>
	    New Work License: <%= link_to song.name_of_new_work_license, song.link_to_new_work_license %>
	  </section>
	  <section class=song_info>
	    Changes Made: <%= song.orig_english_changes_made %>
	  </section>
          <% if song.orig_attribution_link"
	    <section class=song_info>
	      <%= link_to 'Attribution Link', song.orig_attribution_link %>
	    </section>
          <% end %>
	  <section class="song_info filename">
	    Filename: <%= song.filename %>.zip
	  </section>
	  <section class=song_info>
	    File size: <%= song.zip_size %>
	  </section>
	</section>
      </section> 
    <% end %>
  </section>
</section>
