<section class=songs-wrapper>
  <section class=title-sm>
    <h1>Cantando Inglés</h1>
  </section>
  <%= render 'header_basic' %>
  <section class=title-xs>
    <h1>Cantando Inglés</h1>
  </section>
  <h2><%= t('songs') %></h2>
  <section class="copyright">
    <%= t('songs_intro_one') %>
  </section>
  <section class="songs-flex-container">
    <% @songs.each do |song| %>
      <section class="song-box">
	<section class=song-title>
	  <%= song.new_work_title %>
	</section>
	<section class=labels>
	  <section class="song_info orig-title">
            <%= t('songs_original_title') %>:
	    <%= song.orig_english_title %>
	  </section>
	  <section class="song_info orig-artist">
            <%= t('songs_original_artist') %>:
            <%= song.orig_artist %>
	  </section>
          <% if song.orig_english_uses_sample_from_1? %>
	    <section class=song_info>
              <%= t('songs_orig_song_uses_samples_from') %>:
              <% if I18n.locale == :en %>
                <%= song.orig_english_uses_sample_from_1%>
              <% else %>
                <%= song.orig_spanish_uses_sample_from_1%>
              <% end %>  
	    </section>
	    <section class=song_info>
              <%= link_to song.orig_uses_sample_from_link_name_1,
                          song.orig_uses_sample_from_link_1 %>
            </section>
          <% end %>  
	  <section class=song_info>
            <%= t('songs_difficulty') %>:
            <%= song.song_type %>
	  </section>
	  <section class=song_info>
            <%= t('songs_originally_downloaded_at') %>:
            <%= link_to song.orig_downloaded_at_name, 
                        song.orig_downloaded_at_link %>
	  </section>
	  <section class=song_info>
            <%= t('songs_originally_published') %>:
            <%= song.orig_pub_date %>
	  </section>
	  <section class=song_info>
            <%= t('songs_lyrics_dated') %>:
            <%= song.orig_lyrics_date %>
	  </section>
	  <section class=song_info>
            <%= t('songs_reference_to_orig_lyrics') %>:
            <%= link_to song.orig_lyrics_date_link_name, 
                        song.orig_lyrics_date_link %>
	  </section>
	  <section class=song_info>
            <%= t('songs_original_license') %>:
            <%= link_to song.orig_lyrics_date_link_name,
                        song.orig_lyrics_date_link %>
	  </section>
	  <section class=song_info>
            <%= t('songs_new_work_license') %>:
            <%= link_to song.name_of_new_work_license,
                        song.link_to_new_work_license %>
	  </section>
	  <section class=song_info>
            <%= t('songs_changes_made') %>:
            <% if I18n.locale == :en %>
              <%= song.orig_english_changes_made %>
            <% else %>
              <%= song.orig_spanish_changes_made %>
            <% end %>  
	  </section>
          <% if song.orig_attribution_link? %>
	    <section class=song_info>
	      <%= link_to t('songs_attribution_link'), song.orig_attribution_link %>
	    </section>
          <% end %>
	  <section class="song_info filename">
            <%= t('songs_filename') %>
            <%= song.filename %>.zip
	  </section>
	  <section class=song_info>
	    <%= link_to t('songs_download'), songs_get_zip_path(song) %>
	  </section>
          <% if monthly_download_count(song.id) %>
	    <section class = song_info>
	      <%= t('songs_monthly_downloads') %>:
              <%= monthly_download_count(song.id) %>
	    </section> 
          <% end %>
	</section>
      </section> 
    <% end %>
  </section>
  <section class=total-downloads>
    <%= t('songs_total_downloads') %>: <%= total_downloads_this_month() %> 
  </section>
</section>

