<section class=header-basic>
  <section class="menu-flex-container-xs top-menu">
    <section class="link link-home">
      <%= link_to('Home', home_path) %>
    </section>
    <section class="link link-appsbyflo">
      <%= link_to('Apps by Flo', "http://appsbyflo.com") %>
    </section>
    <section class="link link-all-songs">
      <%= link_to('Songs', songs_path) %>
    </section>
  </section>
  <section class="menu-flex-container-xs bot-menu">
    <section class="link link-play-store">
      <%= link_to('Play Store', "https://play.google.com/store/search?q=cantando%20ingles") %>
    </section>
    <section class="link link-espanol">
      Español
    </section>
  </section>
  <section class="menu-flex-container-sm">
    <section class="link link-home">
      <%= link_to('Home', home_path) %>
    </section>
    <section class="link link-play-store">
      <%= link_to('Play Store', "https://play.google.com/store/search?q=cantando%20ingles") %>
    </section>
    <section class="link link-appsbyflo">
      <%= link_to('Apps by Flo', "http://appsbyflo.com") %>
    </section>
    <section class="link link-all-songs">
      <%= link_to('Songs', songs_path) %>
    </section>
    <section class="link link-espanol">
      Español
    </section>
  </section>
</section>
